<h2><%= @customer.name %> Page</h2>

<h3>Performances</h3>

<div>
  <%= link_to "Add a new Past Performance", [:new, @customer, :performance] %>
</div>

<%= render "performances" %>

<h3>Customer Contacts</h3>
<div>
  <%= link_to "Add a new customer contact", [:new, @customer, :contact] %>
</div>

<%= render "contacts_highlights" %>
