<%= form_for [@organization, @contact] do |form| %>
  <%= render "error_messages", target: @contact %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field  :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :title, "Job Title" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone, "Phone (no special characters)" %>
    <%= form.telephone_field :phone %>
  </div>

  <div>
    <%= form.label :fax, "Fax (no special characters)" %>
    <%= form.telephone_field :fax %>
  </div>

  <div>
    <%= form.submit :submit %>
  </div>
<% end %>
