<h3>New Contact Form for <%= @organization.name %></h3>

<%= form_for [@organization, @contact] do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field  :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :title, "Job Title" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.telephone_field :phone %>
  </div>

  <div>
    <%= form.label :fax %>
    <%= form.telephone_field :fax %>
  </div>

  <div>
    <%= form.submit :submit %>
  </div>
<% end %>
