<h2>All Solicitations</h2>

<%= link_to "Add a new solicitation", [:new, :solicitation] %>

<% if @solicitations.any? %>
  <ul>
    <% @customers.each do |customer| %>
      <% if customer.solicitations.any? %>
        <li>
          <strong><%= customer.name %></strong> | (<%= customer.solicitations.count %>)
          <ol>
            <% customer.solicitations.each do |solicitation| %>
              <li><%= link_to solicitation.title, solicitation %> | Close Date: <%= solicitation.deadline.to_formatted_s(:long) %></li>
            <% end %>
          </ol>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  There are no soliciations listed. See link above to add a solicitation.
<% end %>
