<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="" alt="">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Performances", :performances %></li>
        <li class="nav-link"><%= link_to "Solicitations", :solicitations %></li>
        <li class="nav-link"><%= link_to "Customers", :customers %></li>
        <li class="nav-link"><%= link_to "Partners", :partners %></li>
        <li class="nav-link"><%= link_to "Contacts", :contacts %></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <%= form_tag "/search", method: "get" do %>
            <%= search_field_tag "search", nil, placeholder: "Search Performances" %>
            <button type="submit", "search", name: nil >
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="">
            </button>
          <% end %>
        </div>
      </div>
      <%= link_to "Sign Out", session_path, method: :delete, class: "sign-up" %>
    </div>
  </div>
</header>
