<table>
  <tr>
    <th>Performance Title</th>
    <th>Customer</th>
    <th>Period of Performance</th>
    <th>Value</th>
  </tr>
    <% performances.each do |performance| %>
      <tr>
        <td><%= link_to performance.title, performance %></td>
        <td><%= link_to performance.customer.name, performance.customer %></td>
        <td><%= performance.period_start %> -
          <%= performance.period_end %></td>
        <td><%= number_to_currency(performance.value) %></td>
      </tr>
    <% end %>
</table>
