<div>
  <%= form_for [@performance, @performance_contact] do |form| %>
    <%= render "error_messages", target: @performance_contact %>
    <div>
      <%= form.label :contact_id, "Customer name:" %>
      <%= form.collection_select(:contact_id, @customer.contacts, :id, :full_name, include_blank: "Select One") %>
    </div>
    <div>
      <%= form.label :role, "Role on Contract" %>
      <%= form.select :role, PerformanceContact::CUSTOMER_ROLE, include_blank: "Select One" %>
    <div>
      <%= form.submit :submit %>
    </div>
<% end %>
</div>
