<div class="references-container">
  <div class="customer-references">
    <h3>Customer References</h3>
    <table>
      <tr>
        <th></th>
        <% if @performance.null_cor_present? %>
          <th>
            Contracting Officer Representative | <%= link_to "Add Contact",
              new_performance_performance_contact_path(
                @performance, role: "Contracting Officer Representative") %>
          </th>
        <% else %>
          <th>
            Contracting Officer Representative | <%= link_to "Edit",
              edit_performance_performance_contact_path(
                @performance, @performance.contracting_officer_representative.id,
                  role: "Contracting Officer Representative") %>
          </th>
        <% end %>

        <% if @performance.null_supervisor_present? %>
          <th>
            Supervisor | <%= link_to "Add Contact",
              new_performance_performance_contact_path(
                @performance, role: "Supervisor") %>
          </th>
        <% else %>
          <th>
            Supervisor | <%= link_to "Edit",
              edit_performance_performance_contact_path(
                @performance, @performance.supervisor.id,
                role: "Supervisor") %>
          </th>
        <% end %>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= @performance.contracting_officer_representative.full_name %></td>
        <td><%= @performance.supervisor.full_name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @performance.contracting_officer_representative.email %></td>
        <td><%= @performance.supervisor.email %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= number_to_phone(@performance.contracting_officer_representative.phone) %></td>
        <td><%= number_to_phone(@performance.supervisor.phone) %></td>
      </tr>
      <tr>
        <td>Fax</td>
        <td><%= number_to_phone(@performance.contracting_officer_representative.fax) %></td>
        <td><%= number_to_phone(@performance.supervisor.fax) %></td>
      </tr>
    </table>
  </div>

  <div class="partner-reference">
    <% if @performance.prime_contractor %>
      <h3>Partner References</h3>
    <% else %>
      <h3>Prime Contractor References</h3>
    <% end %>
    <table>
      <tr>
        <th></th>
          <% if @performance.null_contract_lead_present? %>
            <th>
              Contract Lead | <%= link_to "Add Contact",
                new_performance_performance_contact_path(
                  @performance, role: "Contract Lead") %>
            </th>
          <% else %>
            <th>
              Contract Lead | <%= link_to "Edit",
                edit_performance_performance_contact_path(
                  @performance, @performance.contract_lead.id,
                    role: "Contract lead") %>
            </th>
          <% end %>

          <% if @performance.null_company_representative_present? %>
            <th>
              Company Representative | <%= link_to "Add Contact",
                new_performance_performance_contact_path(
                  @performance, role: "Company Representative") %>
            </th>
          <% else %>
            <th>
              Company Representative | <%= link_to "Edit",
                edit_performance_performance_contact_path(
                  @performance, @performance.company_representative.id,
                  role: "Company Representative") %>
            </th>
          <% end %>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= @performance.contract_lead.full_name %></td>
        <td><%= @performance.company_representative.full_name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @performance.contract_lead.email %></td>
        <td><%= @performance.company_representative.email %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= number_to_phone(@performance.contract_lead.phone) %></td>
        <td><%= number_to_phone(@performance.company_representative.phone) %></td>
      </tr>
      <tr>
        <td>Fax</td>
        <td><%= number_to_phone(@performance.contract_lead.fax) %></td>
        <td><%= number_to_phone(@performance.company_representative.fax) %></td>
      </tr>
    </table>
  </div>
</div>
