<h2>Past Performance for <%= @performance.title %></h3>

<div>
  <p>
    Created by: <%= @performance.user.email %><br>
    Date created: <%= @performance.created_at.to_formatted_s(:long) %>
  </p>
</div>

<div>
  <p>
    Last Updated by: <%= @updater.email %><br>
    Updated on: <%= @performance.updated_at.to_formatted_s(:long) %>
  </p>
</div>

<%= render "emperical_section" %>

<%= render "customer_references" %>

<h3>This performance is linked to the following solicitations</h3>
<div>
  <p>Add this performance to an existing <%= link_to "solicitation.", [:new, @performance, :opportunity] %></p>
</div>
