<h2>Past Performance for <%= @performance.title %></h3>

<div>
  <p>
    Created by: <%= @performance.user.email %><br>
    Date created: <%= @performance.created_at.to_formatted_s(:long) %>
  </p>
</div>

<div>
  <p>
    Last Updated by: <%= @updater.email %><br>
    Updated on: <%= @performance.updated_at.to_formatted_s(:long) %>
  </p>
</div>

<%= render "emperical_section" %>

<%= render "customer_references" %>

<% if @performance.solicitations.any? %>
  <h3>This performance is linked to the following solicitations:</h3>
  <ul>
    <% @performance.solicitations.each do |solicitation| %>
      <li><%= link_to solicitation.title, solicitation %> || Customer: <%= solicitation.customer.name %></li>
    <% end %>
  </ul>
<% else %>
  <h3>This performance is not associated with any solicitations</h3>
<% end %>
<div>
  <p>Associate this performance with a <%= link_to "solicitation.", [:new, @performance, :opportunity] %></p>
</div>
